.img-responsive{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:700,900&display=swap');



header{
  h1{
    color: #130f40;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }
}
main *{
  margin: 0;
  padding: 0;
  line-height: 1;
  // display: inline-flex;
}
main {
  margin: 0;
  padding: 0 0 30% 0;
  line-height: 1;
  // display: inline-flex;
  .nums{
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      justify-content: flex-end;
    }
  }
  .basket-item{
    margin: 1rem;
    overflow: hidden;
    position: relative;
    height: 6rem;
    svg{
      position: absolute;
      right: -7vw;
      width: 17%;
      height: 17%;
      fill: #130f40;
      z-index: 3;
      top: 39%;
      animation: svgArrow 1s infinite linear alternate-reverse;
    }
    .basket-item-wrapper{
      clip-path: polygon(100% 0, 100% 40%, 98% 50%, 100% 60%, 100% 100%, 0 100%, 0 0);
      background: #fff;
      transition: all .5s linear;
      position: relative;
      height: 100%; 
    }
    h6{
      color:#130f40;
      font-weight: 700;
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      font-size: 3vw;
      line-height: 1.2;
    }
    .controls{
      position: absolute;
      top: 0;
      right: -15rem;
      transition: all .5s linear;
      width: 10rem;
      display: flex;
      height: 100%;
      align-items: center;
      .plus, .minus{
        flex-grow: 1;
        border-radius: 1rem;
        border: 1px solid;
        justify-content: center;
        align-items: center;
        display: inherit;
        margin: 1rem;
        width: 2rem;
        background-color: #fff;
        box-shadow: 0 0 5px 2px #ffffff, -5px 5px 10px #9e9e9e, 5px -5px 10px #ffffff;
				height: 3rem;
				transition: all .5s linear;
				&:hover,
				&:focus,
				&:active{
					box-shadow: inset 0 0 10px #9e9e9e;
					border-color: #fff;
				}

      }
      .minus{
        color: #8a0000;
      }
      .plus{
        color: #235f26
      }
    }
    .image, .body, .nums{
      position: relative;
      transition: all .5s linear;
    }
    .image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .nums{
      padding: 1rem 5px;
      p:nth-child(1){
        font-weight: 700;
        color: #130f40;
				font-family: 'Nunito', sans-serif;
				font-size: 1em;
      }
      p:nth-child(2){
        background-color: #f9ca24;
        color: #130f40;
        font-family: 'Nunito', sans-serif;
        line-height: 1.5;
        font-weight: 700;
        border-radius: 2px;
        display: flex;
        padding: 0 5px;
        width: fit-content;
      }
    }
    .body{
      padding: 1rem;
    }
    .body, .nums{
      position: relative;
      transition: all .5s linear;
    }
    &.open{
      .controls{
        right: 0;
      }
      .image, .body, .nums{
        transform: translateX(-10rem);
      }
      .basket-item-wrapper{
        clip-path: polygon(100% 0, 100% 40%, 97% 50%, 100% 60%, 100% 100%, 0 100%, 0 0);
        background: linear-gradient(225deg, #c3fbff, #ffffff);
      }
      svg{
        display: none;
      }
    }
    &.closed{
      .controls{
        right: -10rem;
      }
      .image, .body, .nums{
        transform: translateX(0);
      }
      .basket-item-wrapper{
        background: #ffffff;
			}
			
		}
		&.blocked{
			&::after{display: block;}
		}
		&::after {
			position: absolute;
			content: '';
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 100000;
			background-color: rgba(0,0,0,.4);
		}
  }

  @keyframes svgArrow {
    0%{
      opacity: 0;
      right: -7vw;
    }
    100%{
      opacity: 1;
      right: -5vw;
    }
  }
}



.buttons{
	position: fixed;
	bottom: 2rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	button{
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
    border: 1px solid;
    padding: 5px 1rem;
    display: inherit;
		color: #130f40;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #ffffff, -5px 5px 10px #95afc0, 5px -5px 10px #ffffff;
		height: 4rem;
		transition: all .5s linear;
		&:hover,
		&:focus,
		&:active{
			box-shadow: inset 0 0 10px #9e9e9e;
			border-color: #fff;
		}
		&.order{
      color: #6ab04c;
      display: flex;

      p{
        display: flex;
        font-size: 1.8em;
        margin-right: 1rem;
      }
			svg{
				fill: #6ab04c;
			}
		}
		&.waiter{
			color: #f0932b;
			svg{
				fill: #f0932b;
			}
		}
		svg{
			width: 2rem;
			height: 2rem;

		}
	}
}


.nsm-dialog{
  top: 30%;
  .nsm-dialog-btn-close{
    display: none;
  }
  .modal-buttons{
    button{
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      border: 1px solid;
      padding: 5px 1rem;
      display: inherit;
      color: #130f40;
      background-color: #fff;
      box-shadow: 0 0 5px 2px #ffffff, -5px 5px 10px #95afc0, 5px -5px 10px #ffffff;
      height: 4rem;
      transition: all .5s linear;
      &:hover,
      &:focus,
      &:active{
        box-shadow: inset 0 0 10px #9e9e9e;
        border-color: #fff;
      }
      &.yes{
        color: #6ab04c;
        display: flex;

        p{
          display: flex;
          font-size: 1.8em;
          margin-right: 1rem;
        }
        svg{
          fill: #6ab04c;
        }
      }
      &.no{
        color: #f0932b;
        svg{
          fill: #f0932b;
        }
      }
    }
  }
}