<main>
  <h2>Спасибо за заказ !</h2>
  
  <p>Чаевые для официанта составят</p>

  <section class="tips">
    <div class="tips-item" *ngFor="let item of tips | keyvalue" (click)="changeClasses(item)"  [ngClass]="item.value.classes">
      <p>{{ item.value.title}}</p>
      <div class="num">{{ item.value.balance | number:'1.0-0' }} ₴</div>
      
    </div>
  </section>
  <section class="estimate" style="text-align:center">
    <h3>Поставьте нам оценку</h3>
    <div class="rating-wrapper">
      <fieldset class="rating">
        <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
        <label title="Sucks big time" ></label>
      
        <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
        <label title="Kinda bad" ></label>
      
        <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
        <label title="Meh" ></label>
      
        <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
        <label title="Pretty good" ></label>
      
        <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
        <label title="Rocks!" ></label>
      </fieldset>
    </div>
  </section>
  <section class="comment">
    <h3>Вы допомагаєте нам ставати краще!</h3>
    <div class="textarea">
      <textarea name="comment" id="" cols="30" rows="10"></textarea>
    </div>
  </section>
  <button class="send" (click)="sendForm();ngxSmartModalService.getModal('success').open()"> Оплатить {{balance | number:'1.0-0'}} ₴</button>
</main>

<ngx-smart-modal #myModal identifier="success">
	<h3 class="confirmation-message">Дякую що обрали саме нас!</h3>
	<p class="emodji">🥰</p>

	<div class="modal-buttons">
		<button class="home" routerLink="/" (click)="myModal.close()"><i class="fa fa-home" aria-hidden="true"></i></button>
	</div>
</ngx-smart-modal>