<div class="filters">

</div>

<main>
	<section *ngFor="let cat of category[0] | keyvalue">
		<header (click)="status=!status" [ngClass]="status ? 'success' : 'danger'">
			{{cat.value}}
			<button >
				<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
		</header>
		<figure  *ngFor="let item of dishes" class="mix {{item.filters}}" >
			<div *ngIf="cat.key == item.category">
				<div *ngIf="item.options !=  undefined">
					<a routerLink="/dishes/{{item.id}}">
						<h4 class="title">{{ item.title }}</h4>
						<img class="img-responsive" src="{{ item.img }}" alt="">
						<p class="card-text">{{ item.consist }}</p>
						<i data-price="item.price" class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</div>
				<h4 class="title">{{ item.title }}</h4>
				<img class="img-responsive" src="{{ item.img }}" alt="">
				<p class="card-text">{{ item.consist }}</p>
				<p>{{ item.price }}</p>
				<i class="fa fa-plus" aria-hidden="true" 
				(click)="addToBasket(item)" 
				></i>
			</div>
		</figure>
	</section>
</main>