<div class="filters" > 
	<div class="icon" (click)="statusFIlter=!statusFIlter" [ngClass]="statusFIlter ? 'open' : 'hide'">
		<div class="icon-wrapper">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<ul >
		<li *ngFor="let filter of filters[0] | keyvalue" 
		(click)="filter.selectedFilter = !filter.selectedFilter; onFilterChange(filter);" 

		[ngClass]="filter.selectedFilter ? 'selected' : ''"
		 attr.data-filter="{{ filter.value }}">#{{ filter.key }} </li>
	</ul>

</div>

<main>
	<!-- <div *ngFor="let item of dishes | filter:{item: filterText}">
		{{ item.title}}
	</div> -->
	<section *ngFor="let cat of category[0] | keyvalue">
		<header (click)="cat.status=!cat.status" [ngClass]="cat.status ? 'column' : 'line'">
			<h1>{{cat.value}}</h1>
			<i class="fa "  [ngClass]="cat.status ? 'fa-chevron-down' : 'fa-chevron-right'" aria-hidden="true"></i>
		</header>
		<div class="wrapper">
			
			<ng-container  *ngFor="let item of dishes">
				<div class="item-wrapper" *ngIf="cat.key === item.category">
				
					<figure  attr.data-filteritem="{{item.filters}}">
						<div *ngIf="item.options !=  undefined">
							<a routerLink="/dishes/{{item.id}}">
								<img class="img-responsive" src="{{ item.img }}" alt="">
								<div class="item-container">
									<h6 class="title">{{ item.title }}</h6>
									<p class="card-text">{{ item.consist }}</p>
									<p class="price">{{ item.price }} ₴</p>
									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
				
							</a>
						</div>
						<div *ngIf="item.options ==  undefined">
							<img class="img-responsive" src="{{ item.img }}" alt="">
							<div class="item-container">
								<h6 class="title">{{ item.title }}</h6>
				
								<p class="card-text">{{ item.consist }}</p>
								<p class="price">{{ item.price }} ₴</p>
								<i class="fa fa-plus" aria-hidden="true" (click)="addToBasket(item)"></i>
							</div>
						</div>
					</figure>
				
				</div>
			</ng-container>
				
		</div>

	</section>

	<button class="basket_btn {{ basketClass }}" [routerLink]="['/basket']">Корзина	<span>{{ balance }}</span> ₴</button>
</main>	